@charset 'utf-8';

@import 'base/variables';
@import 'base/layout';

//atomic
//atoms
@import 'base/base';

@import 'modules/button';
@import 'modules/collection';
@import 'modules/album';
@import 'modules/albums';
@import 'modules/album-detail';
@import 'modules/media-player';
@import 'modules/title';
@import 'modules/tracklist';

.logo {
	&--small {
		align-self: center;

		text-align: right;

		svg, img {
			width: 216px;
		}
	}
}

.close {
	z-index: 5;
	text-align: right;
}

// molecules


.search {
	position: relative;
	pointer-events: visible;
	border-bottom: $line-width-l $text-color solid;
	background: $background-color;
	z-index: 1;

	input {
		display: block;
		width: 100%;
		padding: $gutter 0;
		margin: 0;
		border: none;
		background: none;
		font-family:  "pragmatica-extended", Arial, sans-serif;
		color: $text-color;
		font-size: 1em;

		&:focus {
			box-shadow: none;
			outline: none;
		}
	}

	button {
		position: absolute;
		right: 0;
		top: $gutter / 2;
	}
}

.home {
	.search {
		input {
			font-size: 1em;
		}
	}
}
