$module: '.album-detail';

#{$module} {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 124;

	// padding: $distance-l;

	background: $background-color;
}

#{$module}__info {
	position: relative;

	margin: 0;
	padding: $distance-l;

	font-size: $distance-xxl;
	line-height: 1;

	outline: $line-width-l $text-color solid;
}

#{$module}__format {
	margin: 0;
	padding: 0;

	// font-family: pragmatica, Arial, sans-serif;
	font-size: 0.85em;
	font-family: pragmatica-condenced, Arial, sans-serif;
}

#{$module}__release {
	position: absolute;
	bottom: #{-2 * $gutter};
	z-index: 9;

	margin: 0;
	padding: 0;

	color: $background-color;
	font-size: 13em;
	font-family: pragmatica, Arial, sans-serif;
	font-weight: bold;
	line-height: normal;
	text-align: left;


	&:before {
		content: '’';
	}
}
