$module: '.albums';

#{$module}__account {
	text-align: right;

	h1 {
		margin: 0;
		padding: 0;

		font-size: 2 * $distance-l;
		line-height: 1.5;

		&:after {
			content: '’s collection';
		}
	}

	span {
		margin-left: $gutter;
	}
}

#{$module}__navigation {
	margin-top: $gutter;

	pointer-events: visible;

	ol {
		display: flex;
		flex-wrap: wrap;

		padding: 0;

		list-style: none;

		li {
			display: inline-flex;

			margin: 0 0 $gutter;
			padding: 0;

			border-top: $line-width-l $text-color solid;

			a {
				margin: 0;
				padding: #{$gutter / 2};

				text-decoration: none;

				&.active,
				&:hover {
					color: $background-color;

					background: $text-color;
				}
			}
		}
	}
}

#{$module}__controls {
	position: relative;
	pointer-events: visible;

	.sort-btn {
		display: block;

		width: 100%;
		margin: 0;

		line-height: 2;
		text-align: left;

		&:hover {
			color: $background-color;

			background: $text-color;
		}
	}

	.active {
		color: $background-color;

		background: $text-color;
	}

	h3 {
		padding: #{$gutter / 2} 0;

		line-height: 2;
	}
}
