$module: '.collection';

#{$module} {
	align-self: start;

	margin-right: #{-1 * $gutter};
	padding-left: 0;

	grid-area: 2 / 2 / 9 / 6;
}

#{$module}__item {
	position: relative;

	float: left;

	width: calc(25% - #{$gutter});
	margin: 0 $gutter $gutter 0;
	padding-left: 0;

	list-style: none;

	&:nth-child(2n) {
		margin-top: 16.7%;
	}
}
