$module: '.collection';

#{$module} {
	grid-area: 2 / 2 / 9 / 6;
	align-self: start;

	margin-right: #{-1 * $gutter};
	padding-left: 0;
}

#{$module}__item {
	position: relative;

	float: left;

	box-sizing: border-box;

	width: calc(25% - #{$gutter});
	margin: 0 #{-1 * $gutter} $gutter 0;
	padding-left: 0;

	list-style: none;

	&:nth-child(2n) {
		margin-top: 16.7%;
	}
}
