$module: '.title';

#{$module} {
	position: relative;

	align-self: start;

	margin: 0;
	padding: $distance-l;

	font-size: $distance-xxl;
	line-height: 1;


	outline: $line-width-l $text-color solid;

	grid-area: 4 / 3 / 6 / 8;
}
