html {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	&,
	&:before,
	&:after, {
		box-sizing: border-box;
	}
}

* { // stylelint-disable-line selector-no-universal
	box-sizing: inherit;
}

img {
	max-width: 100%;

	// display: block;
}
