html {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	font-family: pragmatica, Arial, sans-serif;

	background: $background-color;
}

* { // stylelint-disable-line selector-no-universal
	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

body {
	overflow-x: hidden;

	height: calc(100vh - 2 * #{$gutter});
	margin: $gutter;
	padding: 0;

	color: $text-color;

	&.has-overlay { // stylelint-disable-line selector-no-qualifying-type
		overflow-y: hidden;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;

	font-family: pragmatica-extended, Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
}

h3 {
	font-size: 1em;
}

img {
	width: 100%;
	margin: 0;
}

b {
	font-weight: bold;
}

a {
	color: $text-color;
	text-decoration: underline;
}

button {
	margin: 0;

	padding: $distance-s / 2;

	color: $text-color;
	font-size: 1em;
	line-height: 1;

	background-color: $background-color;
	border: none;
	border-left: $line-width-l $text-color solid;

	outline: none;
	cursor: pointer;

	img,
	svg {
		width: 16px;
	}
}
