//Variables
$text-color:    	#335F69;
$background-color:  #F0ECCC;

$line-width-m: 	 	2px;
$line-width-l: 	 	4px;

$distance-s:    	10px;
$distance-m:    	20px;
$distance-l:    	30px;
$distance-xl:   	40px;
$distance-xxl:  	60px;

$gutter:        	$distance-m;